@media (max-width: 980px) {
    #card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For screens smaller than 480px, use 1 column */
@media (max-width: 680px) {
    #card-container {
        grid-template-columns: 1fr;
    }
}