header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--dark-color);
    color: white;
    margin-bottom: 2em;
}

#btn-mobile-menu {
    display: none;
}

#site-title {
    margin: 0;
    font-size: 1.4em;
}

#nav-menu {
    display: flex;
    align-items: center;
}

#nav-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 0;
    padding: 0;
}

#nav-items li a {
    color: white;
    text-decoration: none;
}

#nav-items li a:hover {
    color: rgb(134, 219, 255);
}